:root {
  font-size: 14px;
}

.icon--title {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-size: 1.5rem;
  margin: 0 0 0 0;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  margin: 0px 0px 0px 0px;
}

p {
  margin: 0px 0px 0px 0px;
}

a {
  color: white;
  text-decoration: none;
}

.crossfit-link {
  color: #1D3557;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-contact-grid {
  width: 50%;
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.form-contact-grid div {
  max-height: 100px;
}

.name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.number {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.email {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
}

.message {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
}

.send-button {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4/1/5/3;
}

.text-field {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.send-button {
  -webkit-box-shadow: inset 0px 1px 3px 0px #f2a03d;
          box-shadow: inset 0px 1px 3px 0px #f2a03d;
  background-color: #f2a03d;
  border-radius: 12px;
  border: 1px solid #1D3557;
  display: inline-block;
  cursor: pointer;
  color: #1D3557;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 200px;
  padding: 11px 23px;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100vw;
  height: 65px;
  padding: 0 auto;
  left: 0px;
  top: 0px;
  color: white;
  background: #1D3557;
  font-size: small;
  z-index: 3;
}

.container_header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div_header {
  margin: 10px 20px;
  min-width: 100px;
}

.header-name {
  min-width: 160px;
}

.cv_button {
  min-width: 100px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 12px;
  margin: 10px 60px 10px 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cv_button:hover {
  border: 2px solid white;
  background-color: #f2a03d;
  color: #1D3557;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cv_button a {
  color: white;
  text-decoration: none;
}

.container {
  min-width: 600px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lbl-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  max-width: 700px;
  margin: 0px 20px 20px;
}

.lbl-menu--icono-container {
  width: 100px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.lbl-menu--icono-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lbl-menu label {
  background-color: #f2a03d;
  color: white;
  width: 80px;
  height: 80px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

.lbl-menu label:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content {
  height: 1100px;
  margin-bottom: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[class^=tab] {
  width: 90%;
  position: absolute;
  margin: 0 10px 0 10px;
  line-height: 1.8;
  border-radius: 20px;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 20px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: white;
  color: #1D3557;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}

#radio1, #radio2, #radio3, #radio4 {
  display: none;
}

#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4 {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tab1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  padding-bottom: 20px;
}

.hobbies {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hobbies div {
  padding: 20px 10px 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto-hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.texto-hobby h4 {
  margin-top: 0;
  padding-top: 0;
}

.svg-hobby {
  margin: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myself div {
  max-width: 50%;
}

.astro .texto-hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.andMore img {
  margin: 20px 20px 20px 20px;
}

.tab2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_whatido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whatido_item {
  margin: 20px 20px;
  min-width: 225px;
  border-radius: 10px;
  padding: 20px 20px;
}

.tab3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tab3 h3 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 20px);
  margin: 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list {
  display: -ms-grid;
  display: grid;
  gap: 0px 10px;
  padding: 0px;
  margin: 5px 0px 20px;
  list-style: none;
  border-radius: 5px;
  padding: 20px 20px;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}
.list--center {
  justify-items: center;
}
.list--estudios {
  -ms-grid-columns: (minmax(200px, 700px))[1];
  grid-template-columns: repeat(1, minmax(200px, 700px));
  height: 70%;
  -ms-flex-line-pack: center;
      align-content: center;
}
.list--software {
  height: 70%;
  -ms-grid-columns: (minmax(100px, 70%))[3];
  grid-template-columns: repeat(3, minmax(100px, 70%));
  -ms-flex-line-pack: center;
      align-content: center;
}
.list--software--softskill {
  -ms-grid-columns: (minmax(120px, 300px))[1];
  grid-template-columns: repeat(1, minmax(120px, 300px));
}

.tab4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 360px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  width: 100vw;
  height: 120px;
  margin-right: 0px;
  padding: 0px auto;
  left: 0px;
  bottom: 0px;
  color: #A8DADC;
  background: #1D3557;
  font-size: small;
}

.container_footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div_footer {
  margin: 10px 20px;
  min-width: 190px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 0px 0px;
  margin-right: 0px;
  margin-top: 20px;
}

.social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 10px;
}

.social-icon svg {
  margin-right: 10px;
}

.social-icon svg path {
  fill: #A8DADC;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 2048px;
  width: 80%;
}
.grid__cell {
  padding: 10px;
}
.grid__cell--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 5px);
          flex: 0 0 calc(50% - 5px);
}
.grid__cell--10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}
.grid__cell--33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

@media screen and (max-width: 375px) {
  .lbl-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.list--software--tools {
  -ms-grid-columns: (minmax(100px, 70%))[2];
  grid-template-columns: repeat(2, minmax(100px, 70%));
}

@media screen and (max-width: 500px) {
  .div_header {
    min-width: 0;
  }

  .cv_button {
    margin-right: 10px;
    border-radius: 2.5px;
  }
}
@media screen and (max-width: 800px) {
  .lbl-menu--icono-container {
    width: 50%;
    margin-top: 10px;
  }

  .form-contact-grid {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skills div {
    width: 100%;
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 1070px) {
  h1 {
    text-align: center;
  }
}
@media screen and (max-width: 1275px) {
  .hobbies {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 1335px) {
  .texto-hobby {
    max-width: 90%;
  }

  .crossfit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .astro {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.content_whatido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.send-button {
  margin: 20px 20px;
}

@media screen and (max-width: 780px) {
  .div--none {
    display: none;
  }

  .div_footer {
    min-width: 0;
  }

  .social-contact {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .social {
    margin-top: 0;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }

  .social a {
    margin: 5px 10px;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.card-link {
  display: inline-block;
  padding: 15px;
  background-color: #ec8810;
  color: white;
  margin: 10px;
}
.card-link:visited {
  color: white;
}
.card-link__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.avatar {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid 5px white;
  border-radius: 50%;
  margin: 20px;
  background-image: url("../../images/fotocarnet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.align-center {
  text-align: center;
}

.round-border {
  border-radius: 10px;
}

.p-margin {
  margin-top: 10px;
}