body{
    width: 100vw;
    min-height: 100vh; // to make sure Footer is at the bottom of the page
    margin: 0;


    // FONDO BLANCO MEJOR PARA NO PERDER LEGELIBILIDAD
    // background-image: linear-gradient(90deg, $azul-cyan 50%, $azul-marino 100%);
    // background-repeat: no-repeat;
    // background-size: cover;

    // El color en degradado del fondo no funciona bien, por eso hay un color sólido

    // background-color: $azul-cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
  }