
.contactMe{
    display: flex;
    justify-content: center;
}

.form-contact-grid{
    width: 50%;
    display: grid;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.form-contact-grid div{
    max-height: 100px;
}  

    .name { grid-area: 1 / 1 / 2 / 2; }
    .number { grid-area: 1 / 2 / 2 / 3; }
    .email { grid-area: 2 / 1 / 3 / 3; }
    .message { grid-area: 3 / 1 / 4 / 3; }
    .send-button { grid-area: 4 / 1 / 5 / 3; }

.text-field{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
}

.message{
    display: flex;
    flex-direction: column;
}

.send-button {
	box-shadow:inset 0px 1px 3px 0px $amarillo;
	background-color: $amarillo;
	border-radius: 12px;
	border:1px solid $azul-marino;
	display:inline-block;
	cursor:pointer;
	color:$azul-marino;
	font-family:$generalfont;
	font-size: 18px;
	font-weight:bold;
    margin: 20px 200px;
	padding:11px 23px;
	text-decoration:none;
}
