footer {
    width: 100%;
    height: 150px;
    margin-right: 0px;
    padding: 0px auto;
    left: 0px;
    bottom: 0px;
    color: $azul-claro;
    background: $azul-marino;
    font-size: small;
    
    }
      
    .container_footer{
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    
    .div_footer{
      margin: 10px 20px;
      min-width: 190px;
      
    }

    .social{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    .social-icon{
      display: flex;
      align-items: flex-start;
      align-content: center;
    }
