//-----> $SITE
* {
  box-sizing: border-box;
}

html  {
  position: absolute;
  font-size: 100%;
  font-family: $generalfont;
  position: absolute;
}



img {
  max-width: 100%;
}

p{
  text-align: justify;
}