//-----> $SITE
* {
  box-sizing: border-box;
}

html  {
  font-size: 100%;
  font-family: $generalfont;
  position: absolute;
}



h3{
  margin: 20px 0px 0px 0px;
  
}

p{
  margin: 0px 0px 0px 0px;
}

a{
  color: white;
  text-decoration: none;
}