.content{
  display: flex;
  flex: 1 ;
  justify-content: center;
    margin-bottom: 20px;
  
  }
  
  [class^="tab"] {
    width: 90vw;
    // position: absolute;
    margin: 0 10px 0 10px;
    line-height: 1.8;
    border-radius: 20px;
    display: none;
    opacity: 0;
    transition: all .4s ease-in-out;
    padding: 20px;
    transform: scale(.9);
    // background: linear-gradient(180deg, $blanco 0%, $azul-cyan 100%);
    background-color: $blanco;
    color: $azul-marino;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
  }
  


  #radio1, #radio2, #radio3, #radio4{
    display:none;
  }
  
  
  #radio1:checked ~ .tab1, 
  #radio2:checked ~ .tab2,
  #radio3:checked ~ .tab3, 
  #radio4:checked ~ .tab4 {
    opacity: 1;
   transform: scale(1);
   display: flex;
   align-content: center;
   flex-direction: column;
   
  }