//////// tab3: SKILLS   ////////////////
.tab3{   
    align-content: center;
  }

  .tab3 h3{
    text-align: center;
    align-items: center;
  }

  .skills{
    display: flex;
    flex-wrap: wrap;
  }

  .skills div{
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    margin: 0 10px;
    justify-content: center;
    
    
  }

  .list{   
    display: grid;
    gap: 0px 10px;
    padding: 0px;
    margin: 5px 0px 20px;
    list-style: none;
    border-radius: 5px;
    padding: 20px 20px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
  
// &--smaller{
//   font-size: smaller;
// }

&--center{
  justify-items: center;
}

&--estudios{

    grid-template-columns: repeat(1, minmax(200px, 700px));
    height: 70%;
    align-content: center;
   
  
}

&--software{
   height: 70%;
   grid-template-columns: repeat(3, minmax(100px, 70%));
   align-content: center;

   &--softskill{
    grid-template-columns: repeat(1, minmax(120px, 300px));
  }

}
    
}