 //////// tab2: WHAT I DO    ////////////////
 .tab2{
   display: flex;
    justify-content: center;
   flex-direction: column;
  } 
  .content_whatido {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  justify-content: center;
  }

.whatido_item{
 margin: 20px 20px;
 min-width: 225px;
 border-radius: 10px;
 padding: 20px 20px;
}