
 //////// tab1: WHO I AM    ////////////////
 .tab1{
 place-items: center;
 padding-bottom: 20px;
 overflow: hidden;

 }
 
//  PRIMER TEXTO WHOIAM

//  .tab1 p{
//    max-width: 90%;
//  }
  
//  CUADROS  HOBBIES //////

  .hobbies{
  //  background: $azul-claro;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 90%;
  //  box-shadow: 3px 3px 5px 3px #4e4e4e;
  }
  
  .hobbies div{
    padding: 20px 10px 20px 10px; 
  
  }


  
  // TEXTO DENTRO DE LOS CUADROS HOBBIES ////

  .texto-hobby{ 
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    
  }

  .texto-hobby h4{
    margin-top: 0;
    padding-top: 0;
  }
  
  // IMAGENES HOBBIES ///

  .svg-hobby{
    margin: 0px 0px 0px 0px;
   display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

// 1 HOBBIES: MYSELF 


  .myself {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  


// 3 HOBBIES: ASTRONOMY /// 
  .astro .texto-hobby{
    display: flex;
  
  }

  .andMore img{
    margin: 20px 20px 20px 20px;
  }