
 //////// tab1: WHO I AM    ////////////////
 .tab1{
    width: 80%;
 display: grid;
 place-items: center;
 padding-bottom: 20px;
 }
 
//  PRIMER TEXTO WHOIAM

 .tab1 p{
   max-width: 90%;
 }
  
//  CUADROS  HOBBIES //////

  .hobbies{
    max-width: 90%;
   background: $azul-claro;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 20px;
   box-shadow: 3px 3px 5px 3px #4e4e4e;
  }
  
  .hobbies div{
    padding: 20px 20px 20px 20px; 
    align-items: center;
  }


  
  // TEXTO DENTRO DE LOS CUADROS HOBBIES ////

  .texto-hobby{
    max-width: 50%;
    font-size: smaller;
    
  }

  .texto-hobby h4{
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
  }
  .texto-hobby a{
    color: $azul-marino;
    font-weight: 600;
  }
  // IMAGENES HOBBIES ///

  .svg-hobby{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

// 1 HOBBIES: MYSELF 

  .myself .texto-hobby{
    display: flex;
    justify-content: center;
  }

 


// 3 HOBBIES: ASTRONOMY /// 
  .astro .texto-hobby{
    display: flex;
  }