 //////// tab2: WHAT I DO    ////////////////
 .tab2{
    justify-content: center;
   flex-direction: column;
  } 
  .content_whatido {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  justify-content: center;
  }

.whatido_item{
 margin: 20px 20px;
 width: 225px;
 border-radius: 10px;
 padding: 20px 20px;
 box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}