
// MEDIA QUORIES PARA HACER RESPONSIVE EL MENU

@media screen and (max-width: 375px) {

      .lbl-menu {
        display: flex;
      flex-wrap: wrap;
      } 

      
}

.list--software--tools{

  grid-template-columns: repeat(2, minmax(100px, 70%));

}

@media screen and (max-width: 500px){

 .div_header{

   min-width: 0;
  }

  .cv_button{

    margin-right: $space;
    border-radius: 0.5*$unit;
  }

  

}

@media screen and (max-width: 800px ) {

  .lbl-menu--icono-container {
    width: 50%;
    margin-top: $space;
  }

  .form-contact-grid{

    width: 100%;
  }

 
}



@media screen and (max-width: 900px ) {

.skills{

  flex-direction: column;
}

.skills div{
  width: 100%;
  margin: 0 0 0 0;
}

}


  //     } 
// @media screen and (max-width: 600px) {
//     .lbl-menu {
//       display: flex;
//       flex-wrap: wrap;
//     // flex-direction: column;
//     // justify-content: flex-start;
//     } 
  
//     .lbl-menu--icono-container{
//       transform: scale(0.7);
//     }
  
   
    
//   }

  @media screen and (max-width: 1070px) {

   h1{
    text-align: center;
     }


  }

  // MEDIA QUORIES PARA HACER RESPONSIVE EL CONTENT

  @media screen and (max-width: 1275px) {
   
    .hobbies{
      flex-wrap: wrap;
    }
    
    
  }

  @media screen and (max-width: 1335px) {

    .texto-hobby{
      max-width: 90%;
    }
    
  .crossfit{
    flex-direction: column;
    align-items: center;
  }

    .astro{
      align-content: center;
      flex-direction: column-reverse;
    }
    
  }
  
  .content_whatido {
    display: flex;
    flex-wrap: wrap;
  }

  .send-button{
    margin: 20px 20px;

  }


// // PARA ADAPTAR EL FOOTER 

// @media screen and (max-width: 780px) {

  

//   a #text{
//     display: none;
//   }
  
//   .tab3 {
//     min-width: 80%;
//   }
// }

