
// MEDIA QUORIES PARA HACER RESPONSIVE EL CONTENT

@media screen and (max-width: 600px) {
    .lbl-menu {
      flex-wrap: wrap;
    // flex-direction: column;
    // justify-content: flex-start;
    } 
  
    .lbl-menu--icono{
      transform: scale(0.7);
    }
  
    
  }

  @media screen and (max-width: 1275px) {

  

   
    .content_whatido{
      flex-wrap: wrap;
    }
    
  }


// PARA ADAPTAR EL FOOTER 

@media screen and (max-width: 780px) {

  

  a #text{
    display: none;
  }
  
}