
// MEDIA QUORIES PARA HACER RESPONSIVE EL MENU

@media screen and (max-width: 375px) {

      .lbl-menu {
        display: flex;
      flex-wrap: wrap;
      } 

      
}

.list--software--tools{

  grid-template-columns: repeat(2, minmax(100px, 70%));

}

@media screen and (max-width: 500px){

 .div_header{

   min-width: 0;
  }

  .cv_button{

    margin-right: $space;
    border-radius: 2*$unit;
  }

  

}

@media screen and (max-width: 560px ) {



  .div--andMore--svg{
    display: flex;
    flex-wrap: wrap;
  }

.img--50{
  transform: scale(.6);
  width: calc(50% - 40px);
}

.crossfit{
  flex-wrap: nowrap;
}

}


@media screen and (max-width: 750px ) {

.svg-hobby{
  align-items:initial;
}

header{
  width: 100%;
}


}


@media screen and (max-width: 800px ) {

  

  .lbl-menu--icono-container {
    width: 50%;
    margin-top: $space;
  }

  .form-contact-grid{

    width: 100%;
  }

  
 
}



@media screen and (max-width: 900px ) {

.skills{

  flex-direction: column;
}

.skills div{
  width: 100%;
  margin: 0 0 0 0;
}

}


  //     } 
// @media screen and (max-width: 600px) {
//     .lbl-menu {
//       display: flex;
//       flex-wrap: wrap;
//     // flex-direction: column;
//     // justify-content: flex-start;
//     } 
  
//     .lbl-menu--icono-container{
//       transform: scale(0.7);
//     }
  
   
    
//   }

  @media screen and (max-width: 1070px) {

   h1{
    text-align: center;
     }


  }

  @media screen and (max-width: 1075px) {

    .texto-hobby{
   max-width: 100%;
    }
 
 
   }

  // MEDIA QUORIES PARA HACER RESPONSIVE EL CONTENT

  // @media screen and (max-width: 1275px) {
   
  //   .hobbies{
  //     flex-wrap: wrap;
  //   }
    
    
  // }

  @media screen and (max-width: 1335px) {

    // .texto-hobby{
    //   max-width: 90%;
    // }


  .crossfit{
    flex-direction: column;
  }

    .astro{
      // align-content: center;
      flex-direction: column-reverse;
      justify-content: center;
    }
    
  }
  
  .content_whatido {
    display: flex;
    flex-wrap: wrap;
  }

  .send-button{
    margin: 20px 20px;

  }


// PARA ADAPTAR EL FOOTER 

@media screen and (max-width: 780px) {

.div--none{
  display: none;
}

.div_footer{
  min-width: 0;
}

  .social-contact{
   justify-content: left;
  }

  

  .social{
    margin-top: 0;
    align-items: left;
  }

  
  .social a{

    margin: 5px 10px;
  }

  nav{
    display: flex;
    flex-direction: column;
  
   
  }
}

