//-----> $AVATAR

.avatar {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid 5px $azul-marino;
  border-radius: 50%;
  margin: 20px;
  background-color: $amarillo;
  background-image: url('../images/fotocarnet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
